<!-- templates/add_review.html -->
{% include 'navbar.html' %} 
{% load static %} 
<link rel="stylesheet" href="{% static 'styles/style.css' %}"> 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Add your review for {{store.store_name}}</title>
</head>
<div class="container">
<body>
    <h1>Leave a Review</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <label for="name">Your Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="rating">Rating (1 to 5):</label><br>
        <select id="rating" name="rating" required>
            <option value="">Choose...</option>
            {% for i in "12345" %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select><br><br>

        <label for="comment">Your Review:</label><br>
        <textarea id="comment" name="comment" rows="5" cols="40" required></textarea><br><br>

        <input type="submit" value="Submit Review">
    </form>
</body>
</html>
