{% include 'navbar.html' %} 
{% load static %} 
<link rel="stylesheet" href="{% static 'styles/style.css' %}"> 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Cloud Cuisine</title>
</head>

<body>
  <div class="business-list">
    
    <h1>Stores</h1>

    {% for store in storeData %}
      <div class="business">
        <h2>
          <a href="{% url 'store_detail' store.pk %}">
            {{ store.store_name }}
          </a>
        </h2>
      </div>
  
    {% empty %}
      <p>No object found.</p>
    {% endfor %}
  </div>
</body>
</html>
